/* Headings */
.default-style h1 {
    font-size: 2.5rem;
    /* 40px */
    font-weight: 800;
    line-height: 1.2;
    margin: 1.5rem 0;
}

.default-style h2 {
    font-size: 2rem;
    /* 32px */
    font-weight: 700;
    line-height: 1.3;
    margin: 1.25rem 0;
}

.default-style h3 {
    font-size: 1.75rem;
    /* 28px */
    font-weight: 600;
    line-height: 1.4;
    margin: 1rem 0;
}

.default-style h4 {
    font-size: 1.5rem;
    /* 24px */
    font-weight: 600;
    line-height: 1.5;
    margin: 0.75rem 0;
}

.default-style h5 {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 500;
    line-height: 1.6;
    margin: 0.5rem 0;
}

/* Bold text */
.default-style strong {
    font-weight: 600;
}

/* Lists */
.default-style ul {
    list-style-type: disc;
    margin: 1rem 0;
    padding-left: 1.5rem;
    line-height: 1.6;
}

.default-style ol {
    list-style-type: decimal;
    margin: 1rem 0;
    padding-left: 1.5rem;
    line-height: 1.6;
}

.default-style li {
    margin: 0.25rem 0;
}